<div class="modal fade" id="createCommentModal" tabindex="-1" aria-labelledby="createCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <form method="POST" action="{{ url_for('comment.create_comment', dataset_id=dataset.id) }}">
            
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Write your comment!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    
                    {{ comment_form.hidden_tag() }} 
                    
                    <div class="mb-3">
                        <label for="commentContent" class="form-label">Content</label>
                        {{ comment_form.content(class="form-control", rows="4", id="commentContent") }}
                        <div class="form-text">The content must be between 1 and 1000 characters.</div>
                        {% for error in comment_form.content.errors %}
                            <div class="small text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>

                    {{ comment_form.dataset_id(value=dataset.id) }} 
                    
                    {{ comment_form.parent_id(value='', id="parent_id") }} 

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ comment_form.submit(class="btn btn-primary") }}
                </div>

            </form>
        </div>
    </div>
</div>